@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css);
.-piano-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.learning-grand-piano-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.learning-grand-piano-navlink {
  display: contents;
}
.learning-grand-piano-container1 {
  flex: 0 0 auto;
  width: 141px;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: space-between;
  flex-direction: row;
  text-decoration: none;
}
.learning-grand-piano-container1:hover {
  cursor: pointer;
}
.learning-grand-piano-pasted-image {
  width: 15px;
  height: 15px;
  align-self: center;
  margin-right: var(--dl-space-space-halfunit);
}
.learning-grand-piano-text {
  font-style: normal;
  font-weight: 900;
}
.instruments-classical-grand-piano-nav {
  display: flex;
}
.instruments-classical-grand-piano-nav1 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.instruments-classical-grand-piano-navlink1 {
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.instruments-classical-grand-piano-navlink1:hover {
  font-size: larger;
  font-weight: bold;
}
.instruments-classical-grand-piano-link {
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.instruments-classical-grand-piano-link:hover {
  font-size: larger;
  font-weight: bold;
}
.instruments-classical-grand-piano-link1 {
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.instruments-classical-grand-piano-link1:hover {
  font-size: larger;
  font-weight: bold;
}
.instruments-classical-grand-piano-link2 {
  transition: 0.3s;
  text-decoration: none;
  margin-right: var(--dl-space-space-threeunits);
}
.instruments-classical-grand-piano-link2:hover {
  font-size: larger;
  font-weight: bold;
}
.instruments-classical-grand-piano-link3 {
  transition: 0.3s;
  text-decoration: none;
}
.instruments-classical-grand-piano-link3:hover {
  font-size: larger;
  font-weight: bold;
}
.learning-grand-piano-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.learning-grand-piano-login {
  transition: 0.3s;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.learning-grand-piano-login:hover {
  cursor: pointer;
}
.learning-grand-piano-register {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  background-color: #000000;
}
.learning-grand-piano-register:hover {
  color: var(--dl-color-gray-black);
  cursor: pointer;
  background-color: var(--dl-color-gray-white);
}
.learning-grand-piano-hero {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    max-width: var(--dl-size-size-maxwidth);
    align-self: center;
    min-height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
.learning-grand-piano-container2 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.learning-grand-piano-image {
    width: 150px;
    object-fit: cover;
    margin-left: var(--dl-space-space-sixunits);
}
.learning-grand-piano-text1 {
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
}
.learning-grand-piano-text2 {
    margin-top: var(--dl-space-space-halfunit);
}
.instruments-classical-grand-piano-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: flex-end;
}
.instruments-classical-grand-piano-button {
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 2px;
  flex-direction: row;
  background-color: var(--dl-color-gray-white);
}
.instruments-classical-grand-piano-pasted-image2 {
  width: 20px;
  height: 20px;
  opacity: 1;
  margin-right: var(--dl-space-space-halfunit);
}
.instruments-classical-grand-piano-text3 {
  opacity: 1;
}
.learning-grand-piano-container4 {
  left: 0px;
  width: 100%;
  bottom: 100px;
  display: flex;
  position: fixed;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.instruments-classical-grand-piano-image {
  width: 1281px;
  height: 199px;
  object-fit: cover;
}
.instruments-classical-grand-piano-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.instruments-containerMetronome {
  top: 365px;
  flex: 0 0 auto;
  right: 47px;
  width: 200px;
  display: none;
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.metronome-container {
  width: 200px;
  height: auto;
  position: absolute;
  background: white;
  border: 2px solid;
  border-radius: 4px;
  border-color: var(--dl-color-gray-900);
}
.metronome-container .counter {
  width: 100%;
  padding-bottom: 10px;
  background: white;
  text-align: center;
}
.metronome-container .counter .dot {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 25px 10px 10px 10px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}
.metronome-container .counter .active {
  background: #5ec2ff;
}
.metronome-container .controls {
  color: black;
  padding: 20px;
  text-align: center;

}
.metronome-container .controls label {
  display: block;
  margin-bottom: 18px;
}
.metronome-container .controls label span {
  background: #fff;
  color: black;
  padding: 5px;
}
.metronome-container .controls label span i {
  cursor: pointer;
  transition: color 0.2s;
}
.metronome-container .controls label span i:hover {
  color: #fa6900;
}
.metronome-container .controls input {
  width: 50px;
  border: 0px solid;
  color: #222;
  text-align: center;
  padding: 4px;
  border: 1px solid;
  border-radius: 3px;
  border-color: var(--dl-color-gray-900);;
}
.metronome-container .controls select {
  border: 0px;
  color: #222;
}
.metronome-container .controls .play-btn {
  width: 70%;
  background: #d6e26d;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
  color: #3d430d;
  transition: background 0.3s;
}
.metronome-container .controls .play-btn:hover {
  background: #e8efad;
}
.metronome-container .controls .tap-btn {
  width: 45%;
  background: #888;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
  color: #fbfbfb;
  transition: background 0.3s;
}
.metronome-container .controls .tap-btn:hover {
  background: #959595;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: inline-block !important;
  height: 15px;
  width: 15px;
  margin: 0px 4px 0px 0px !important;
  padding: 0px;
  position: relative;
  top: 4px;
  background: #fff;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background: #f38630;
  opacity: 0;
  position: relative;
  top: -5px;
  right: -1px;
  transform: skewX(0deg);
  transition: all 0.24s;
}
input[type="checkbox"] + label:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 15px;
  background: #f38630;
  opacity: 0;
  position: relative;
  top: -5px;
  right: -3px;
  transform: skewX(0deg);
  transition: all 0.24s;
}
input[type="checkbox"]:checked + label:before {
  transform: skewX(30deg);
  opacity: 1;
}
input[type="checkbox"]:checked + label:after {
  transform: skewX(-30deg);
  opacity: 1;
}
input[type="test"]:checked + label:after {
  transform: skewX(-30deg);
  opacity: 1;
}
.learning-grand-piano-container3 {
  flex: 0 0 auto;
  width: 314px;
  height: 150px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}

.learning-song-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.learning-grand-piano-note-body {
  width: 100%;
  height: auto;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  min-height: 0vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.music-sheets-boy-with-luv-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.learning-song-image1 {
    width: 1000px;
    object-fit: cover;
}
.learning-song-image2 {
    width: 800px;
    object-fit: cover;
}
.learning-song-image3 {
    width: 1000px;
    object-fit: cover;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}