.record-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 300px;
  align-items: center;
  flex-direction: column;
}

.record-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.record-navlink {
  display: contents;
}

.record-container1 {
  flex: 0 0 auto;
  width: 141px;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: space-between;
  flex-direction: row;
  text-decoration: none;
}

.record-container1:hover {
  cursor: pointer;
}

.record-pasted-image {
  width: 15px;
  height: 15px;
  align-self: center;
  margin-right: var(--dl-space-space-halfunit);
}

.record-text {
  text-align: center;
  font-style: normal;
  font-weight: 900;

}

.record-nav {
  display: flex;
}

.record-nav1 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}

.record-navlink1 {
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}

.record-navlink1:hover {
  font-size: larger;
  font-weight: bold;
}

.record-link {
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}

.record-link:hover {
  font-size: larger;
  font-weight: bold;
}

.record-link1 {
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}

.record-link1:hover {
  font-size: larger;
  font-weight: bold;
}

.record-link2 {
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}

.record-link2:hover {
  font-size: larger;
  font-weight: bold;
}

.record-link3 {
  transition: 0.3s;
  margin-left: 0px;
  text-decoration: none;
}

.record-link3:hover {
  font-size: larger;
  font-weight: bold;
}

.record-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.record-login {
  transition: 0.3s;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}

.record-login:hover {
  cursor: pointer;
}

.record-register {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  background-color: #000000;
}

.record-register:hover {
  color: var(--dl-color-gray-black);
  cursor: pointer;
  background-color: var(--dl-color-gray-white);
}

.record-hero {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 0vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.record-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.record-pasted-image1 {
  width: 80px;
  height: 80px;
}

.record-text1 {
  font-size: 2rem;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.record-text2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}

.home-text3 {
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}

.record-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}

.record-history {
  text-align: left;
  margin-top: 0%;

}

.record-record {
  text-align: center;
}

.record-img {
  width: 15px;
  height: 15px;
  align-items: center;
  margin-right: var(--dl-space-space-halfunit);
}

.record-table {}